---
title: Welcome to BootstrapMan
---
  <div class="page-header">
   <div class="jumbotron">
    <h1>Welcome to BootstrapMan</h1>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

    <p>See also...</p>
  <ul>
    <li><%= link_to "Middleman", "http://middlemanapp.com/" %></li>
    <li><%= link_to "Twitter Bootstrap", "http://getbootstrap.com/" %></li>
</ul>